/vendor
/.env
/database/database.sqlite
/storage/*.key
/storage/app/private/*
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!.gitignore
!.gitkeep
